* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 200px;
  background-color: rgb(249, 206, 127);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-rows: repeat4, 200px; */
}

.item {
  background-color: plum;
}
