* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  list-style-type: none;
  gap: 20px;
}

ul > li {
  /* aumentamos el ancho base del contenedor li para que luego sus hijos (img) puedan ocuparlo */
  flex-basis: 350px;
  flex-grow: 1;
  /*para que en los puntos de inflexion (o de cambio) los contenedores li crezcan ocupando toda la pantalla (evitar espacios que "descuadran" la galeria*/
}

ul > li > img {
  width: 100%; /*los img ocuparan el ancho base del contenedor li*/
}
